{% extends "base.html" %}
{% block content %}
<h2>Editar histórico</h2>
<form action="/historico/edit/{{ historico.id }}" method="post">
    <input type="hidden" name="id_maquina" value="{{ historico.id_maquina }}">
    <div class="row g-2 mb-4">
        <div class="col">
            <label class="form-label">Data</label>
            <input name="data" type="date" class="form-control" value="{{ historico.data }}" required>
        </div>
        <div class="col">
            <label class="form-label">Hora</label>
            <input name="hora" type="time" class="form-control" value="{{ historico.hora }}" required>
        </div>
        <div class="col">
            <label class="form-label">Responsável</label>
            <input name="tecnico" class="form-control" value="{{ historico.tecnico }}">
        </div>
    </div>
    <div class="col mb-4">
        <label class="form-label">Descrição</label>
        <input name="descricao" class="form-control" value="{{ historico.descricao }}" required>
    </div>
    <div class="col-auto mt-2">
        <button class="btn btn-primary">Salvar</button>
        <a href="/historico?maquina={{ historico.id_maquina }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
