{% extends "base.html" %}
{% block content %}
<h2>Editar Máquina</h2>
<form action="/maquinas/edit/{{ maquina.id }}" method="post">
  <div class="row g-3 mb-4">
    <div class="col">
      <label class="form-label">Linha</label>
      <input name="linha" type="number" class="form-control" value="{{ maquina.linha }}" readonly required>
    </div>
    <div class="col">
      <label class="form-label">Nome</label>
      <input name="nome" class="form-control" value="{{ maquina.nome }}">
    </div>
    <div class="col">
      <label class="form-label">Usuário</label>
      <input name="usuario" class="form-control" value="{{ maquina.usuario }}">
    </div>
    <div class="col">
      <label class="form-label">Setor</label>
      <input name="setor" class="form-control" value="{{ maquina.setor }}">
    </div>
  </div>

  <div class="row g-3 mb-4">
    <div class="col">
      <label class="form-label">Andar</label>
      <input name="andar" class="form-control" value="{{ maquina.andar }}">
    </div>
    <div class="col">
      <label class="form-label">IP</label>
      <input name="ip" class="form-control" value="{{ maquina.ip }}">
    </div>
    <div class="col">
      <label class="form-label">Endereço MAC</label>
      <input name="mac" class="form-control" value="{{ maquina.mac }}">
    </div>
    <div class="col">
      <label class="form-label">Ponto</label>
      <input name="ponto" class="form-control" value="{{ maquina.ponto }}">
    </div>
  </div>

  <div class="col mb-4">
    <label class="form-label">Comentário</label>
    <input name="comentario" class="form-control" value="{{ maquina.comentario }}">
  </div>
  <div class="col-auto mt-2">
    <button class="btn btn-primary">Salvar</button>
    <a href="/" class="btn btn-secondary">Cancelar</a>
  </div>
</form>
{% endblock %}
